body {
  font-family: "Inter";
}

/* NAVBAR START */

.nav-item {
  margin-left: 2rem;
}

.nav-link {
  font-weight: 600;
  color: #667085;
}
.nav-link:hover {
  font-weight: 800;
  color: black;
}

.dropdown-item {
  color: #667085;
}

.nav-btn-login {
  border: none;
  background-color: transparent;
  margin-right: 1rem;
  font-weight: 600;
  color: #667085;
}

.nav-btn-signup {
  background-color: #7f56d9;
  border: none;
  color: white;
  padding: 10px 18px 10px 18px;
  border-radius: 8px;
  font-weight: 600;
}

.nav-btn-signup:hover {
  color: aqua;
}
.nav-btn-login:hover {
  color: black;
}

/* NAVBAR END */

/* BANNER START */
.banner {
  /* margin-top: 2rem; */
  background-color: #f9fafb;
  padding-top: 5rem;
}

.banner-content .content-text {
  color: #6941c6;
  font-weight: 600;
}

.banner-content .content-title {
  color: #101828;
  font-weight: 600;
}

.banner-content .row h1 {
  color: #7f56d9;
  font-weight: 600;
}

.banner-content .row h6 {
  color: #101828;
  font-weight: 600;
}
/* BANNER END */
/* MENTOR START */
.mentor {
  padding-top: 5rem;
}

.mentor .mentor-title h2 {
  color: #101828;
  font-weight: 600;
}
.mentor .mentor-title h6 {
  color: #667085;
  font-weight: 400;
}

.mentor .list-mentor {
  align-items: center;
  display: flex;
}

.mentor .card {
  background-color: #f9fafb;
  border: none;
  padding: 1rem;
  margin-top: 2rem;
}

.mentor .card-img-top {
  width: 80px;
  height: 80px;
  padding: 7px;
  display: block;
  margin: 0 auto;
}

.mentor .card-text {
  text-align: center;
}

.mentor,
.card-title,
.card-text,
.card-sosmed {
  display: flex;
  justify-content: center;
  text-align: center;
}

.mentor .card-sosmed {
  gap: 15px;
  position: absolute;
  bottom: 2rem;
  left: 6rem;
}

.mentor .card-sosmed:hover {
  cursor: pointer;
}
/* MENTOR END */

/* FASILITAS START */
.fasilitas {
  background-color: #f9fafb;
  margin-top: 5rem;
}

.fasilitas .fasilitas-title h2 {
  font-weight: 600;
  color: #101828;
  padding-top: 96px;
}

.fasilitas .fasilitas-title h5 {
  font-weight: 400;
  color: #667085;
}

.list-fasilitas {
  align-items: center;
  display: flex;
}

.fasilitas .card {
  width: 25rem;
  border: none;
  background-color: #f9fafb;
}

.fasilitas .card .card-text {
  text-align: center;
}

.fasilitas .card img {
  width: 48px;
  padding: 5px;
  position: relative;
  left: 45%;
}

/* FASILITAS END */

/* MATERI START */
.materi-title {
  margin: 2rem auto auto 256px;
  font-weight: 700;
}

.materi-list h5 {
  font-weight: 600;
  color: #101828;
}

.materi-content {
  margin: 32px auto auto 256px;
  display: flex;
  gap: 24px;
}

.materi-list {
  padding: 24px 24px 28px 24px;
  width: 768px;
  border: solid 1px #d0d5dd;
  border-radius: 16px;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  -ms-border-radius: 16px;
  -o-border-radius: 16px;
}

/* MATERI END */

/* FOOTER START */
footer {
  margin: 64px;
}

.footer-subscribe {
  padding: 0px 32px 0px 32px;
  margin-bottom: 64px;
}

.footer-sub-text h3 {
  font-weight: 600;
  color: #101828;
}

.footer-sub-text h5 {
  font-weight: 400;
  color: #667085;
}

.button-footer {
  gap: 12px;
}

.footer-logo {
  width: 320px;
}

.footer-logo img {
  margin-bottom: 34px;
}

.footer-list p {
  color: #667085;
  font-weight: 400;
}

.footer-title {
  font-weight: 600;
  color: #98a2b3;
  list-style-type: none;
}

.footer-list li {
  list-style-type: none;
}

.footer-list a {
  color: #667085;
  text-decoration: none;
}

.footer-list a:hover {
  font-weight: 700;
}

.footer-socmed {
  gap: 24px;
  display: flex;
}

.footer-socmed img {
  width: 24px;
}

.footer-socmed img:hover {
  cursor: pointer;
}
